body {
    font-family: Arial;
    margin: 0;
    background: #e6f7f1;
}

header {
    background: green;
    color: white;
    text-align: center;
    padding: 20px;
}

#products {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
}
.whatsapp-order {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.whatsapp-order a {
    background-color: #25D366;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.whatsapp-order a:hover {
    background-color: #1ebd5a;
}